
@{
    ViewData["Title"] = "Home Page";
}

<div id="carusel">
    @{ await Html.RenderPartialAsync("_Carusel");}
</div>


<div>
    @{ await Html.RenderPartialAsync("_Order");}
</div>

    <div id="yandex" style="height: 300px; width:auto;">

    </div>
