<br />
<div id="caruselSlide" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/images/banner-01.svg" />
            <div class="carousel-caption d-none d-md-block">
                <h5>Услуги трансфера</h5>
                <p>Предоставляем услуги трансфера, закажи автомобиль прямо сейчас!<br />
                <br />
                <a class="btn btn-primary" href="#"><i class="fa fa-map-marker"></i> Заказать</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron jumbotron">
                <h1 class="display-4">Добро пожаловать!</h1>
                <p class="lead">
                    Приветствуем на сайте компании МБМ транс<br />
                    услуги компании...
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/banner1.svg" />
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/banner2.svg" />
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/banner3.svg" />
        </div>
    </div>
</div>