.nav-menu {
    display: inline;
    background: #5f5f5f;
}

.nav-elem-right {
    float:right
}

.nav-elem-left {
    float: left;
}

.nav-elem {
    display:block;
    padding:8px;
}

.nav-elem-active{

}
